/bin/
/wiktionary.to.xml.full.ReadStripped.log
/wiktionary.to.xml.full.StripNamespaces.log
/new language codes.csv
/continfo.txt
/wiktionary.to.xml.full.JoinDefinitions.log
/wiktionary.to.xml.full.ReadStripped-el-el.log
/wiktionary.to.xml.full.ReadStripped.log.lck
/.metadata/
/target/
/wiktionary.to.xml.full.ReadStripped.log.1
